
<nav class="tm-footer uk-container-center" style="background:#ddd;">
<dl class="uk-description-list-horizontal">
    <dt></dt>
    <dd>专业，让生活更简单！
    <img width="60" src="images/1435489291.svg"/></dd>
</dl>
</nav>
</body>
</html>