<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>BBC 果园</title>
<link rel="stylesheet" href="stylesheets/uikit.min.css" />
<script src="javascripts/jquery-2.1.4.js"></script>
<script src="javascripts/uikit.js"></script>
</head>
<body>

<header>
<h1></h1>
</header>
<nav class="">
    <img href="uk-float-left" alt="BBC 果园"></a>
    <div class="uk-float-right">我的 <a href="#my-id" data-uk-modal>购物车</a></div>
    <div class="uk-align-right uk-hidden-small">
    	<form class="uk-form uk-margin-remove uk-display-inline-block">
            <input type="text" placeholder="Search">
            <a >🔍</a>
        </form>
    </div>
	<div id="my-id" class="uk-modal">
	    <div class="uk-modal-dialog">
	        <a class="uk-modal-close uk-close"></a>
	        <div class="uk-modal-header"><h2>我的购物车</h2></div>
	        我是水果
	        <div class="uk-modal-footer uk-text-right"><button type="button" class="uk-button uk-button-primary">提交订单</button></div>
	    </div>
	</div>
</nav>
